layout {

    focus-ring {
        active-color   "#ffb0cf"
        inactive-color "#191114"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb0cf"
        inactive-color "#191114"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb0cf"
        inactive-color "#6e334e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb0cf80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb0cf"
        urgent-color "#ffb4ab"
    }
}
